
.EngineLeft {
    color: inherit;
    background-color: inherit;

    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #d4be98;
}
